/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: White;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    height:1000px;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    color:#8bbf36;
    font-weight:bold;
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}
ul.level1{
    display: inline-flex;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    /*background-color: #fff;*/
    margin: 0px auto 0px auto;
    /*border: 1px solid #496077;*/
}

.header
{
    top:0;
    position:fixed;
    margin: 0px;
    padding: 0px;
    background-color:White;
    width: 100%;
    height:110px;
    background-image:url('http://matriculas.ucsm.edu.pe/sisMat5/Images/fondoheader.png');
    background-repeat:repeat;
    background-position:right top;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    left: 0px;
}

.header img
{
    margin:10px 0px 10px 20px;
    float:left;
    display:block;
}
.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    width:86%;
    padding:20px;
   /* margin: 12px auto 0px auto;*/
    min-height: 420px;
    background-color: #fff;
    margin: 117px auto 0px auto;
    border: 1px solid #E2E2E2;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    border-top:thin dashed #E1E1E1;
   /* bottom:0;*/
    width:100%;
    color:white;
    background-color:#868686;
    /*padding: 8px 0px 0px 0px;*/
    text-align: center;
    line-height: normal;
    height:6em;
    position:relative;
    margin: 0px auto 0px auto;
}

.footer p
{
    font-size:7pt;
}

/* TAB MENU   
----------------------------------------------------------*/

div.backMenu
{
    clear: both;
    background-color:#868686;
    width:100%;
    height:30px;
}
div.hideSkiplink
{
    width:60%;
    margin: 0px auto 0px auto;
}

div.menu
{
    padding: 4px 0px 4px 0px;
   /* padding:5px;*/
}

div.menu ul
{
    list-style: none;
    margin:0px -1px 0px 0px;
    padding: 0px;
    width: auto;
    height:30px;
    background-image:url(../Images/skin.png);
    background-repeat:repeat-x;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #868686;
    border-left: 1px #9C9C9C solid;
    border-right: 1px #9C9C9C solid;
    color: White;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #8bbf36;
    color:White;
    text-decoration: none;
   /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

div.menu ul li a:active
{
  /*  background-color: #80DA45;
    color: #cfdbe6;
    text-decoration: none;*/
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

/*.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}*/


.title
{
    margin-top:50px;
    font-size:13pt;
    display:block;
    text-align: right;
    width: auto;
    color:#666666;
    vertical-align:middle;
    /*text-shadow: 1px 1px 1px #1A98D3;*/
}
.title p
{
    color:white;
    text-align: left;
}



.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: Black;
    float:right;
}

.loginDisplay a:link
{
    color:#868686 ;
}

.loginDisplay a:visited
{
    color:#868686 ;
}

.loginDisplay a:hover
{
    color:#868686 ;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.roundedBorder
{
	-moz-border-radius: 15px ;
	border: 1px solid #125AC9;
	padding:5px;
	font-family:Calibri;
}

.cabeceralogin
{
    padding:5px;
    border-radius: 15px 0px 0px 0px;
    -moz-border-radius: 15px 0px 0px 0px;
    -webkit-border-radius: 15px 0px 0px 0px;
    border: 1px solid #79AD25;
    background-color:#8bbf36;
    background-image:url('../Images/skin.png');
    background-position:left bottom;
    background-repeat:repeat-x;
	padding:5px;
	font-family:Calibri;
	font-size:14pt;
	color:White;
    width: 430px;
}

.cuerpologin
{
    padding:5px;
    border-radius: 0px 0px 15px 0px;
    -moz-border-radius: 0px 0px 15px 0px;
    -webkit-border-radius: 0px 0px 15px 0px;
    border: 1px solid #D6D6D6;
    background-color:#F3F3F3;
    background-image:url(../Images/skin.png);
    background-repeat:repeat-x;
    background-position:bottom;
}

.cabecera
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #79AD25;
    background-color:#8bbf36;
    background-image:url(../Images/skin.png);
    background-position:left bottom;
    background-repeat:repeat-x;
	padding:5px;
	font-family:Calibri;
	font-size:14pt;
	color:White;
}

#cabeceraOver:hover
{
    background-color:#FFB01C;
}

.cuerpo
{
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #D6D6D6;
    background-color:#F3F3F3;
    background-image:url(../Images/skin.png);
    background-repeat:repeat-x;
    background-position:left bottom;
}

.calloutDown { /* es el borde del triangulito hacia abajo */
  border-top: 10px solid #FF9933;
  border-left: 10px dotted transparent;
  border-right: 10px dotted transparent;
  left: 0px; top: 0px; /* lo posicionamos */
  height: 0; width: 0; /* no tendrá dimensiones */
  margin-left: 20px; /* lo separamos del borde izquierdo */
  z-index: 11;
}

.tituloPregunta
{
    color:#8bbf36;
    font-style:italic;
    text-align:left;
    font-weight:bold;
}
